.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 150vh;
    background-color: #895F39;
}

.login_header img{
    width: 200px;
}

.login_header h1{
    color: black;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.login_input{
    border:2px solid #333;
    border-radius: 8px;
    color:#333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
}

.login_button{
    background-color: #462603;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 150px;
    padding: 15px;
    width: 100%;
}

.login_button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
